<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GoC.WebTemplate" type="GoC.WebTemplate.Configurations, WebTemplateCore" />
  </configSections>
  
  <!-- The following section is for testing purposes only -->
   <GoC.WebTemplate version="v4_0_23" theme="gcintranet" subTheme="esdc" environment="ITEM1" useHTTPS="true" loadJQueryFromGoogle="false" showPreContent="true" showPostContent="true" showFeedbackLink="true" feedbackLinkUrl="" showLanguageLink="true" showSharePageLink="true" showSearch="true" showFeatures="true" staticFilesLocation="~\GoC.WebTemplate\StaticFallbackFiles">
      <sessionTimeOut enabled="false" inactivity="1200000" reactionTime="180000" sessionalive="1200000" logouturl="./" refreshCallbackUrl="./" refreshOnClick="false" refreshLimit="120000" method="" additionalData=""></sessionTimeOut>
     <leavingSecureSiteWarning enabled="true" displayModalWindow="true" redirectURL="foo" excludedDomains=""></leavingSecureSiteWarning>
    </GoC.WebTemplate>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.3545" newVersion="2.2.0.3545" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>