<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="GoC.WebTemplate" type="GoC.WebTemplate.Configurations"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <GoC.WebTemplate 
    version="v4_0_24" 
    theme="gcweb" 
    showPreContent="true" 
    showPostContent="true" 
    showFeedbackLink="true" 
    showSharePageLink="true"
  	showSearch="true" 
    showFeatures="true"
    staticFilesLocation="~\GoC.WebTemplate\StaticFallbackFiles">
    <sessionTimeOut
       enabled="false"
       inactivity="1200000"
       reactionTime="180000"
       sessionalive="1200000"
       logouturl="#"
       refreshCallbackUrl="#"
       refreshOnClick="false"
       refreshLimit="120000"
       method=""
       additionalData="">
    </sessionTimeOut>
  	<cdn 
      url="https://ssl-templates.services.gc.ca" 
      environment="prod">
  	</cdn>
  	<leavingSecureSiteWarning 
      enabled="false" 
      redirectURL="" 
      excludedDomains="">
  	</leavingSecureSiteWarning>
  </GoC.WebTemplate>
</configuration>