<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GoC.WebTemplate" type="GoC.WebTemplate.Components.Configs.Schemas.GocWebTemplateConfigurationSection, GoC.WebTemplate.Components" />
  </configSections>

  <!-- The following section is for testing purposes only -->
  <GoC.WebTemplate version="v4_0_30" environment="ITEM1" useHTTPS="true" loadJQueryFromGoogle="false" showPreContent="true" showPostContent="true" showFeedbackLink="true" feedbackLinkUrl="" showLanguageLink="true" showSharePageLink="true" showSearch="true" staticFilesLocation="~\GoC.WebTemplate\StaticFallbackFiles" useWebAnalytics="true">
    <sessionTimeOut enabled="true" inactivity="1200000" reactionTime="180000" sessionAlive="1200000" logoutUrl="./" refreshCallBackUrl="./" refreshOnClick="false" refreshLimit="120000" method="" additionalData=""></sessionTimeOut>
    <leavingSecureSiteWarning enabled="true" displayModalWindow="true" redirectURL="foo" excludedDomains=""></leavingSecureSiteWarning>
  </GoC.WebTemplate>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
