@page "/externallink"

<PageTitle>External Link</PageTitle>

<div>
    <Blazor.Components.WetExternalLink href="https://google.ca">Test External Link</Blazor.Components.WetExternalLink>
</div>

@code {

}
