<h1 id="wb-cont">GoC Web Template Samples - GCIntranet Theme</h1>
<p><a href="http://www.gcpedia.gc.ca/wiki/Content_Delivery_Network/GoC_.NET_template_guide">Web Template Documentation (GCPedia)</a></p>

<p>This sample page provides the basic items to configure when required to use the GCIntranet theme.</p>

<h2>CDNEnvironment</h2>
<p>Set the web.config <code class="wb-prettify">"GoC.WebTemplate.environment"</code> to the environment of choice (other than Akamai) example "PROD_SSL". It can also be set programmatically via <code class="wb-prettify">WebTemplateModel.CDNEnvironment</code>.</p>

<div class="wb-prettify all-pre lang-vb linenums">

    <h3>C# Code Sample</h3>
    <pre>
WebTemplateModel.Settings.Environment = "PROD_SSL";
    </pre>
</div>
<div class="wb-prettify all-pre lang-json linenums">
    <h3>App Settings Sample</h3>
    <pre>
{
    "GoCWebTemplate": {
        "environment": "PROD_SSL"
    }
}
    </pre>
</div>

<h2>Sub Themes Title</h2>
<p>The Sub Theme intranet Title can be customized in the code though <code class="wb-prettify">WebTemplateModel.IntranetTitle</code></p>

<div class="wb-prettify all-pre lang-vb linenums">
    <h3>C# Code Sample</h3>
    <pre>
WebTemplateModel.IntranetTitle = new IntranetTitle
{
    Href = "https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_31/cdts/samples/subtheme-esdc-en.shtml",
    BoldText = "ESDC Sub",
    Acronym = "Employment and Social Development Canada Sub Theme",
    Text = " Custom Title"
};        
    </pre>
</div>

<h2>GC Tools Modal</h2>
<p>Configure the list of GC Tools links to popout in a modal with one "<strong>GC</strong>Tools" link.</p>
<div class="wb-prettify all-pre lang-cs linenums">
    <h3>C# code sample</h3>
    <pre>
WebTemplateModel.Settings.GcToolsModal = true;
    </pre>
</div>
<div class="wb-prettify all-pre lang-json linenums">
    <h3>App Settings sample</h3>
    <pre>
{
    "GoCWebTemplate": {
        "gcToolsModal": true
    }
}
    </pre>
</div>

<partial name="_SamplesNavigation" />
