<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <!-- The following keys are the settings used by the WSAddress Sample Code-->
    <add key="GoC.EWS.WSAddress.ServiceAccount.Name" value="SV-SF-TESTWS-DEV"/>
    <add key="GoC.EWS.WSAddress.ServiceAccount.Password" value="TOSUiw7("/>
    <!--Note: the sample code does not expect the password to be encrypted, but in your implementation you should encrypt this value.-->
    <add key="GoC.EWS.WSAddress.Domain" value="hrdc-drhc.net"/>
    <add key="GoC.EWS.WSAddress.URL" value="http://intradev-u.sade-edap.prv/sf-ml/services/wsaddress/wsaddress.asmx" />
    <add key="GoC.EWS.WSAddress.TimeOut" value="30000"/>
    <!-- The following keys are the settings used by the WSED Sample Code-->
    <add key="GoC.EWS.WSED.ServiceAccount.Name" value="SV-SF-TESTWS-DEV"/>
    <add key="GoC.EWS.WSED.ServiceAccount.Password" value="TOSUiw7("/>
    <!--Note: the sample code does not expect the password to be encrypted, but in your implementation you should encrypt this value.-->
    <add key="GoC.EWS.WSED.Domain" value="hrdc-drhc.net"/>
    <add key="GoC.EWS.WSED.URL" value="http://intradev-u.sade-edap.prv/sf-ml/services/wsed/wsed.asmx"/>
    <add key="GoC.EWS.WSED.TimeOut" value="30000"/>
    <!-- The following keys are the settings used by the WSEMail Sample Code-->
    <add key="GoC.EWS.WSEMail.ServiceAccount.Name" value="SV-SF-TESTWS-DEV"/>
    <add key="GoC.EWS.WSEMail.ServiceAccount.Password" value="TOSUiw7("/>
    <!--Note: the sample code does not expect the password to be encrypted, but in your implementation you should encrypt this value.-->
    <add key="GoC.EWS.WSEMail.Domain" value="hrdc-drhc.net"/>
    <add key="GoC.EWS.WSEMail.URL" value="http://intradev-u.sade-edap.prv/sf-ml/services/wsemail/wsemail.asmx"/>
    <add key="GoC.EWS.WSEMail.TimeOut" value="30000"/>
  </appSettings>
</configuration>