<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="GoC.WebTemplate" type="GoC.WebTemplate.Components.Configurations"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- The following measures help mitigate inline frame attacks at the browser level from GC-CIRT GCIN17-003 -->
        <!-- See available options here: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options -->
        <add name="X-FRAME-OPTIONS" value="DENY"/>
        <!-- See available options here: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy -->
        <add name="Content-Security-Policy" value="frame-ancestors 'none'"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <GoC.WebTemplate version="v4_0_30" environment="AKAMAI" loadJQueryFromGoogle="false" showPreContent="true" showPostContent="true" showFeedbackLink="true" feedbackLinkUrl="" showLanguageLink="false" showSharePageLink="true" showSearch="true" staticFilesLocation="~\GoC.WebTemplate\StaticFallbackFiles" xmlns="http://tempuri.org/WebTemplateWebForms.xsd">
    <sessionTimeOut enabled="true" inactivity="20000" reactionTime="30000" sessionAlive="60000" logoutUrl="http://www.google.ca/" refreshCallBackUrl="./" refreshOnClick="false" refreshLimit="120000" method="" additionalData=""/>
    <leavingSecureSiteWarning enabled="true" displayModalWindow="true" redirectURL="http://www.google.ca" excludedDomains=""/>
  </GoC.WebTemplate>
</configuration>