<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoC.WebTemplate-Components" version="1.28.0" targetFramework="net461" />
  <package id="GoC.WebTemplate-WebForms" version="1.28.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
</packages>