@inject IJSRuntime jsRuntime

<a @attributes="LinkAttributes">@ChildContent</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> LinkAttributes { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("cdtsBlazor.resetExitScriptOnPage");
    }
}
