
@{
    ViewBag.Title = "NoCustomSearchTestPage";
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate.Application.LeftMenu_Layout.cshtml";
}

<h1>No Custom Search Test Page</h1>


<p>Blargians! Shaun is amazing!</p>