<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoC.WebTemplate-Components" version="1.32.0-unstable1" targetFramework="net461" />
  <package id="GoC.WebTemplate-WebForms" version="1.32.0-unstable1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
</packages>