<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoC.WebTemplate-Components" version="1.29.0-RC4" targetFramework="net461" />
  <package id="GoC.WebTemplate-WebForms" version="1.29.0-RC4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OctoPack" version="3.6.3" targetFramework="net461" developmentDependency="true" />
</packages>