<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <configSections>
    <section name="GoC.WebTemplate" type="GoC.WebTemplate.Components.Configurations"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <GoC.WebTemplate version="v4_0_30" environment="Akamai" loadJQueryFromGoogle="false" showPreContent="true" showPostContent="true" showFeedbackLink="true"
  	feedbackLinkUrl="" showLanguageLink="true" showSharePageLink="true" showSearch="true" staticFilesLocation="~\GoC.WebTemplate\StaticFallbackFiles" xmlns="http://tempuri.org/WebTemplateWebForms.xsd">
  	<sessionTimeOut enabled="false" inactivity="1200000" reactionTime="180000" sessionAlive="1200000" logoutUrl="#" refreshCallBackUrl="#"
  		refreshOnClick="false" refreshLimit="120000" method="" additionalData=""/>
  	<leavingSecureSiteWarning enabled="false" displayModalWindow="true" redirectURL="" excludedDomains=""/>
  </GoC.WebTemplate>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-FRAME-OPTIONS" value="DENY"/>
        <add name="Content-Security-Policy" value="frame-ancestors 'none'"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>