
<div>
    <h3>Other Web Template Samples</h3>
    <ul>
        <li><a href="~/GoCWebTemplateSample/AddJSandCSSFilesSample">Adding CSS or JS</a></li>
        <li><a href="~/GoCWebTemplateSample/BaseSettingsSample">Basic Settings</a></li>
        <li><a href="~/GoCWebTemplateSample/BreadcrumbSample">Breadcrumbs</a></li>
        <li><a href="@Url.Action("BilingualErrorSample", "GoCWebTemplateSample")">Bilingual Error Page</a></li>
        <li><a href="~/GoCWebTemplateExtendedCtrlSample/ExtendedCtrlSample">Extended Controller</a></li>
        <li><a href="~/GoCWebTemplateSample/GCIntranetThemeSample">GCIntranet Theme</a></li>
        <li><a href="~/GoCWebTemplateSample/FeedbackandShareThisPageSample">Feedback and Share This Page Links</a></li>
        <li><a href="~/GoCWebTemplateSample/LeavingSecureSiteSample">Leaving Secure Site Warning</a></li>
        <li><a href="~/GoCWebTemplateSample/LeftSideMenuSample">Left Side Menu</a></li>
        <li><a href="~/GoCWebTemplateSample/SessionTimeoutSample">Session Timeout</a></li>
        <li><a href="~/GoCWebTemplateSample/SplashPageSample">Splash Page</a></li>
        <li><a href="@Url.Action("TransactionalSample","GoCWebTemplateSample")">Transactional Page</a></li>
        <li><a href="@Url.Action("UnilingualErrorSample", "GoCWebTemplateSample")">Unilingual Error Page</a></li>
        <li><a href="@Url.Action("StandardPage", "GoCWebTemplateApplicationSample")">Application Template</a></li>
    </ul>
</div>