<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GoCWebTemplate.Master.cs" Inherits="GoC.WebTemplate.WebForms.WebTemplateMasterPage" %>
<!DOCTYPE html>

<!--[if lt IE 9]><html class="no-js lt-ie9" lang="<%= WebTemplateModel.TwoLetterCultureLanguage %>" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="<%= WebTemplateModel.TwoLetterCultureLanguage %>" dir="ltr">
<!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
            wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
        <title><%= WebTemplateModel.Render.HeaderTitle() %></title>
        <meta content="width=device-width,initial-scale=1" name="viewport"/>
        <!-- Load closure template scripts -->
        <script type="text/javascript" src="<%= string.Concat(WebTemplateModel.CDNPath, "soyutils.js")  %>"></script>
        <script type="text/javascript" src="<%= string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0}wet-{1}.js", WebTemplateModel.CDNPath, WebTemplateModel.TwoLetterCultureLanguage)  %>"></script>
        <noscript>
            <!-- Write closure fall-back static file -->
            <%= WebTemplateModel.LoadStaticFile("refTop.html") %>
        </noscript>
         <!-- Write closure template -->
        <script type="text/javascript">
            document.write(wet.builder.refTop(<%= WebTemplateModel.Render.RefTop(isApplication: false) %>));
        </script>

        <%= WebTemplateModel.Render.HtmlHeaderElements() %>
        <!-- GoC.WebTemplate Version ASPX <%= WebTemplateVersion %> -->
        <!-- GoC.WebTemplate.Core Version <%= WebTemplateModel.AssemblyVersion %> -->
    </head>
    <body vocab="http://schema.org/" typeof="WebPage">
        <%= WebTemplateModel.Render.SessionTimeoutControl() %>
        <div id="def-top">
            <!-- Write closure fall-back static file -->
            <%= WebTemplateModel.LoadStaticFile(string.Concat("top-", WebTemplateModel.TwoLetterCultureLanguage, ".html")) %>
        </div>
        <!-- Write closure template -->
        <script type="text/javascript">
            var defTop = document.getElementById("def-top");
            defTop.outerHTML = wet.builder.top(<%= WebTemplateModel.Render.Top() %>);
        </script>

        <main role="main" property="mainContentOfPage" class="container" typeof="WebPageElement">

            <!-- the main content -->
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
            <!-- end main content -->
            <div id="def-preFooter">
                <!-- Write closure fall-back static file -->
                <%= WebTemplateModel.LoadStaticFile(string.Concat("preFooter-", WebTemplateModel.TwoLetterCultureLanguage, ".html")) %>
            </div>
            <!-- Write closure template -->
            <script type="text/javascript">
                var defPreFooter = document.getElementById("def-preFooter");
                defPreFooter.outerHTML = wet.builder.preFooter( <%= WebTemplateModel.Render.UnilingualPreFooter() %>);
            </script>
        </main>
        <div id="def-footer">
            <!-- Write closure fall-back static file -->
            <%= WebTemplateModel.LoadStaticFile(string.Concat("footer-", WebTemplateModel.TwoLetterCultureLanguage, ".html")) %>
        </div>
        <!-- Write closure template -->
        <script type="text/javascript">
            var defFooter = document.getElementById("def-footer");
            defFooter.outerHTML = wet.builder.footer( <%= WebTemplateModel.Render.Footer() %>);
        </script>
        <!-- Write closure template -->
            <script type="text/javascript">
                document.write(wet.builder.refFooter(<%= WebTemplateModel.Render.RefFooter(isApplication: false) %>));
            </script>
        <%= WebTemplateModel.Render.HtmlBodyElements() %>
    </body>
</html>

