
@{
    ViewBag.Title = "StandardPage";
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate.Application.cshtml";
}
<h1>GoC Web Template Samples - Secure Page Icon Example</h1>
<p><a href="http://www.gcpedia.gc.ca/wiki/Content_Delivery_Network/GoC_.NET_template_guide">Web Template Documentation (GCPedia)</a></p>
<p>The Secure Icon is available in the application template it is a lock icon that is displayed next to the application title on the page.</p>
<p><code class="wb-prettify">ShowSecure</code> is a boolean variable that is used to either show or hide the secure icon</p>
<div class="wb-prettify all-pre lang-vb linenums">.
    <h3>C# Code Sample</h3>

</div>