
@{
    ViewBag.Title = "StandardPage";
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate.Application.cshtml";
}
<h1>GoC Web Template Samples - Sign Out Example</h1>
<p><a href="http://www.gcpedia.gc.ca/wiki/Content_Delivery_Network/GoC_.NET_template_guide">Web Template Documentation (GCPedia)</a></p>
<p>The Sign Out Button is available in the application template.</p>
<p><code class="wb-prettify">ShowSignOutLink</code> is a boolean variable that is used to either show or hide the Sign Out Button</p>
<p>
    <code class="wb-prettify">ShowSignOutURL</code> is the location of your sign out service.
</p>
<div class="wb-prettify all-pre lang-vb linenums">
    <h3>C# Code Sample</h3>
    <pre>WebTemplateCore.ShowSignOutLink = true; //Show the sign out button
WebTemplateCore.SignOutLinkURL = "about:blank"; //The URL to your applications sign out service.</pre>
</div>